@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-toastify/dist/ReactToastify.css";

:root {
  --foreground-rgb: 0, 0, 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.slick-arrow.slick-prev,
 .slick-arrow.slick-next {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 50%;
  color: #E7717D;
  font-size: 20px;
}

.slick-next:hover, .slick-prev:hover{
  color: rgb(96, 18, 18) !important;
}

.slick-prev::before,
.slick-next::before {
  display: none;
}

.slick-next, .slick-prev{
  right: 2px !important;
  width: 30px !important;
  height: 30px !important;
  background-color: white !important;
  border-radius: 50% !important;
  padding: 5px !important;
}

.slick-prev{
  left:2px !important;
}

.slick-slider {
  /* padding: 25px !important; */
  border-radius: 50px !important;
  min-width: auto;
}

.slick-dots li {
  width: 20px;
  height: 0px;
  margin: 10px -10px;
  transition: width 0.3s ease-in-out;
  color: #E7717D !important;
  display: none;
}
.slick-dots{
  position:relative !important;
  display: none !important;
}
.slick-dots .slick-active .ft-slick__dots--custom {
  width: 20px;
  top: 0px;
  overflow: hidden;
  background: #994d47;
  margin-top: 26px;
}

/* .slick-dots{
  width: 90% !important;
} */

.slick-dots li.slick-active button:before {
  color:#E7717D !important;
}

.element {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text_ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: whitesmoke;
}
.congrats-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #E7717D;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.congrats-card>h1 {
  color: white;
  font-size: 24px;
}

.congrats-card>p {
  color: wheat;
  font-size: 16px;
  margin-bottom: 20px;
}

.congrats-card>button {
  background-color: seagreen;
  color: wheat;
  border: 1px solid wheat;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.congrats-card>button:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .congrats-card {
    max-width: 80%;
    padding: 10px;
  }

  .congrats-card>h1 {
    font-size: 20px;
  }

  .congrats-card>p {
    font-size: 14px;
  }

  .congrats-card>button {
    font-size: 16px;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .congrats-card {
    max-width: 90%;
    padding: 8px;
  }

  .congrats-card>h1 {
    font-size: 18px;
  }

  .congarts-card>p {
    font-size: 12px;
  }

  .congrats-card>button {
    font-size: 14px;
    padding: 6px 12px;
  }
}
